.home-container {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    grid-template: 1.5rem / 1fr;
    grid-auto-rows: 1.5rem;
    padding: 1rem 2rem;
    margin: 2rem 12rem;

}

.list-container {
    display: flex;
    flex-direction: column;
    row-gap: 8px;

    &__header {
        display: flex;
        font-family: $header-font-family;
        font-size: 1.2rem;
    }

    &:not(__header) {
        font-weight: 300;
        font-size: .8rem;

    }
}

.add-todo-button {
    &_show {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $white;
        border: 2px solid $accent-lighter;
        border-radius: $base-border-radius-half;
        color: $accent;
        font-size: 1.1rem;
        transition: .2s;

        &:hover {
            background-color: $accent-lighter;
        }
    }

    &_hide {
        display: none;
    }
}

.add-todo-form {
    &_hide {
        display: none;
    }

    &_show {
        display: grid;
        padding: 1.25rem;
        font-family: $header-font-family;
        row-gap: .75rem;
    }
}

.list-container__item {

    // &-due-date{
    //     margin-left: auto;
    // }
}