.home-container {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    grid-template: 1.5rem / 1fr;
    grid-auto-rows: 1.5rem;
    padding: 1rem 2rem;
    margin: 2rem 12rem;

}

.list-container {
    display: flex;
    flex-direction: column;
    row-gap: 8px;

    &__title {
        display: flex;
        font-family: $header-font-family;
        font-size: 1.2rem;
    }

    &:not(__title) {
        font-weight: 300;
        font-size: .85rem;
    }
}

.add-todo-button {
    &_show {
        @include add-button;
        max-width: 30vw;
    }

    &_hide {
        display: none;
    }
}

.list-container__item {
    display: grid;
    grid-template-columns: 2fr 1fr;
}