.content {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    grid-template: 1.5rem / 1fr;
    grid-auto-rows: 1.5rem;
    padding: 1rem 2rem;
    margin: 2rem 12rem;

}

.list-container {
    display: flex;
    flex-direction: column;
    row-gap: 8px;

    &:not(-title) {
        font-weight: 300;
        font-size: .85rem;
    }
}

.add-todo-btn {
    &_show {
        @include add-button;
    }

    &_hide {
        display: none;
    }
}

.list-item-container {
    display: grid;
    grid-template-columns: 7fr 1fr;
    grid-template-rows: repeat(5, min-content);
    align-items: center;
    row-gap: .3rem;
    margin-bottom: .25rem;

    &__divider {
        background-image: linear-gradient(to right, $white-darker, $white);
        grid-row: 5;
        grid-column: 1 / 3;
        height: 1px;
        margin-top: .25rem;
    }

    &:last-child {

        .list-item-container__divider {
            display: none;
        }
    }
}

.list-item {
    &-title {
        grid-column: 1 / 2;
        grid-row: 1;
        font-family: $header-font-family;
        font-size: 1.5rem;
    }

    &-description {
        grid-column: 1;
        grid-row: 3;
    }
    &-notes {
        grid-column: 1;
        grid-row: 4;
    }

    &-project {
        @include project-label;
        display: flex;
        grid-column: 2 / 4;
        grid-row: 2;
        width: fit-content;
        padding: .1rem .3rem;
        margin-left: auto;
        gap: .1rem;
    }

    &-date-and-time {
        display: flex;
        width: fit-content;
        grid-column: 1;
        grid-row: 2;
        gap: 1rem;
        justify-content: start;
        align-items: center;
        justify-self: flex-start;
        color: $secondary-dark;

        &__text {
            text-decoration: underline $secondary-lighter 1px;
            font-weight: 300;
        }

        &_time {
            display: flex;
            width: 100%;
            justify-content: start;
            align-items: center;
            justify-self: flex-start;
            color: $secondary-dark;

            > .material-symbols-outlined{ 
                font-variation-settings:
                'wght' 200;
                font-size: 1.25rem;
                color: $tertiary-dark;
            }
        }

        &_date {
            display: flex;
            width: 100%;
            justify-content: start;
            align-items: center;
            justify-self: flex-start;
            color: $secondary-dark;

            > .material-symbols-outlined{ 
                font-variation-settings:
                'wght' 200;
                font-size: 1.25rem;
                color: $tertiary-dark;
            }
        }
    }
}