.sidebar {
    grid-column: 1;
    grid-row: 2;
    height: 100vh;
    background-color: $white-darker;

    &__add-project-btn{
    
        &_show {
            @include add-button;
            // margin-top: 10px;
        }

        &_hide {
            display: none;
        }
    }
}

.add-project-form {
    &_hide {
        display: none;
    }
    &_show {
        display: flex;
    }
}