.sidebar {
    grid-column: 1;
    grid-row: 2;
    height: 100vh;
    background-color: $white-darker;

    &__add-project-btn{
    
        &_show {
            @include add-button;
            // margin-top: 10px;
        }

        &_hide {
            display: none;
        }
    }

    &__project-display {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        gap: 1rem;
    }

    &__project-button {
        @include project-label;
        width: 50%;
    }

    &__show-all-button {
        @include project-label;
        width: 50%;
        background-color: $secondary-dark;
        padding: .5rem;

        &:hover{
            background-color: $secondary;
        }
    }
}

.add-project-form {
    &_hide {
        display: none;
    }
    &_show {
        @include form-default;
        background-color: $white-dark;
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 1rem auto 1rem auto;
        padding: .4rem;
    }
    &__submit-btn {
        @include add-button;
        font-size: 1rem;
        margin: 0;
    }
    &__input {
        @include input-default;
        width: 80%;
    }
}