@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin add-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $white;
    border: 2px solid $accent-lighter;
    border-radius: $base-border-radius-half;
    color: $accent;
    font-size: 1.1rem;
    transition: .2s;
    width: 75%;
    margin: 10px auto;

    &:hover {
        background-color: $accent-lighter;
    }
}

@mixin input-default {
    border: 2px solid $accent-lighter;
    color: $accent;
    border-radius: $base-border-radius-quarter;
    background-color: $white;
    padding: 4px;
    font-family: $header-font-family;
    font-weight: 300;
    &:focus{
        outline-color: $accent;
    }
    &:hover{
        background-color: $tertiary-light;
    }
}

@mixin form-default {
    align-items: center;
    padding: 1.25rem;
    font-family: $header-font-family;
    row-gap: .75rem;
    border: 2px solid $accent-lighter;
    border-radius: $base-border-radius-half;
    background-color: $white;
    box-shadow: rgba($accent-darker, 0.1) 0px 10px 15px -3px, rgba($accent-darker, 0.05) 0px 4px 6px -2px;
    color: $accent-dark;
    font-size: 1.25rem;
}

@mixin project-label {
    color: $white;
    font-family: $header-font-family;
    font-weight: 500;
    font-size: 1rem;
    background-color: $accent;
    border-radius: $base-border-radius;
    align-items: center;
    transition: .2s;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    border: none;
    //border: 1px solid $accent-light;

    &:hover {
        background-color: $accent-light;
    }
}