@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin add-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $white;
    border: 2px solid $accent-lighter;
    border-radius: $base-border-radius-half;
    color: $accent;
    font-size: 1.1rem;
    transition: .2s;
    width: 75%;
    margin: 10px auto;

    &:hover {
        background-color: $accent-lighter;
    }
}